<html>
    <head>
        <title>Genome Processing</title>
    </head>
    <body>
        <form method="post" action="." enctype="multipart/form-data">
            <p>Genome file (one chromosome, nucleotides only, .txt file)</p>
            <p><input type="file" name="genome" required/></p>
            <p>Genes file (All genes ordered by nucleotide, only include genes that are on the given chromosome, .xls file)</p>
            <p><input type="file" name="genes" required/></p>
            <p><input type="submit" value="Get bidirectional intergenic regions" /></p>
        </form>
        <p>{{stuff}}</p>
        <p><a href="/">Return to Home Page</a></p>
    </body>
</html>